@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif;
 * font-family: 'Montserrat Alternates', sans-serif; 
 */

h1, h2, h3, h4, h4, h6 {
  margin: 0;
  text-align: center;
}

:root {
  --green-color: #65c474;
  --dark-background: rgb(23, 23, 23);
}

.green-text {
  color: var(--green-color);
  font-weight: 500;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-background);
  font-family: 'Montserrat', sans-serif;;
  padding: 0;
  margin: 0;

  header {
    height: 80vh;

    box-shadow: 0 4px 12px 0 rgba(0,0,0,.25);
    background-color: white;

    display: grid;
    grid-template-rows: 15vh 65vh;
    grid-template-columns: 1fr 40vw 40vw 1fr;
    align-items: center;
    justify-items: center;

    h1 {
      grid-row: 1;
      grid-column: 2 / span 2;
      font-weight: 400;
    }

    img {
      grid-row: 2;
      grid-column: 2;
      height: 25vh;
      filter: drop-shadow(0 0 50px gray);
      user-select: none;
    }

    .motto {
      grid-row: 2;
      grid-column: 3;
      font-weight: 600;
      font-size: 8vh;
    }
  }

  main {
    width: 100%;

    nav {
      height: 25vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      a {
        text-decoration: none;

        h3 {
          font-family: 'Montserrat Alternates', sans-serif; 
          font-weight: 400;
          font-size: 1.5vw;

          transition: color .3s, filter .15s;

          &:hover {
            color: white;
            filter: drop-shadow(0 0 12px var(--green-color));
          }
        }
      }
    }

    section {
      width: 100%;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,.25);
      background-color: white;

      display: grid;

      h2 {
        margin-top: 2vw;
        margin-left: 2vw;

        color: #2E2E2E;
        font-size: 4vw;
        font-weight: 400;
        text-align: left;
      }

      &#présentation {
        grid-template-rows: 7vw 12vw 12vw 10vw 20vw;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;

        p,
        div {
          margin: 0;
          font-size: 1.5vw;
          width: 45vw;

          h3 {
            font-weight: 500;
          }

          ul {
            font-size: 1vw;
          }

          &.text1 {
            grid-row: 2;
            grid-column: 1;
            margin-left: 2vw;
          }
  
          &.text2 {
            grid-row: 3;
            grid-column: 1;
            margin-left: 2vw;
          }

          &.text3 {
            grid-row: 5;
            grid-column: 1;
            justify-self: center;
            align-self: flex-start;

            h3 {
              text-align: left;
            }
          }

          &.text4 {
            grid-row: 5;
            grid-column: 2;
            justify-self: center;
            align-self: flex-start;

            h3 {
              text-align: left;
            }
          }
        }

        .images {
          height: 50%;
          width: 100%;
          grid-row: 2 / span 2;
          grid-column: 2;
          align-self: center;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          justify-content: center;
          align-content: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              img {
                filter: drop-shadow(0 0 12px gray);
              }
            }
          }

          img {
            max-width: 70%;
            max-height: 70%;

            transition: filter .15s;
          }
        }
      }

      &#books {
        padding: 3vw 0;

        background-color: transparent;
        box-shadow: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .title-container {
          width: 30%;
          margin-left: 2vw;

          h2 {
            margin-top: 0;
            color: white;
            text-align: left;
            margin-left: 0;
          }

          h3 {
            text-align: left;
            color: #969696;
            font-weight: 400;
            margin-left: .3vw;
            font-size: 2vw;
          }
        }

        .image-container {
          width: 70%;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          a {
            height: 15vw;
  
            img {
              height: 15vw;
            }
          }
        }

      }

      &#téléchargement {
        padding-bottom: 5vw;

        article {
          margin-top: 2vw;
          margin-left: 2vw;

          h3 {
            font-size: 2vw;
            font-weight: 500;
            text-align: left;
          }

          ul {
            font-size: 1.5vw;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 10vw;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;

    .name-container {
      background-color: white;
      padding: .5vw;
      border-radius: .5vw;
      height: 4vw;
      width: 30vw;

      h2 {
        font-weight: 400;
        font-size: 3vw;
      }
    }

    .contact-container {
      .contact {
        font-size: .8vw;
        margin: .3vw;
        background-color: white;
        border-radius: .2vw;
        padding: .2vw
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    header {
      height: 65vh;

      grid-template-rows: 15vh 20vh 30vh;
      grid-template-columns: 100vw;

      h1 {
        grid-row: 1;
        grid-column: 1;
      }

      img {
        grid-row: 2;
        grid-column: 1;
        max-height: 90%;
        max-width: 90%;
      }

      .motto {
        grid-row: 3;
        grid-column: 1;
        font-size: 6vw;
        text-align: center;
      }
    }

    main {
      nav {
        height: 40vw;
        display: flex;
        flex-direction: column;

        a {
          h3 {
            font-size: 4vw;
          }
        }
      }

      section {
        h2 {
          font-size: 6vw;
        }
  
        &#présentation {
          grid-template-rows: 15vw 20vw 20vw 2vw 35vw 2vw 35vw 2vw 15vw;
          grid-template-columns: 100vw;
          justify-items: center;

          p,
          div {
            font-size: 3vw;
            width: 90vw;
            text-align: justify;
  
            h3 {
              font-size: 3vw;
            }
  
            ul {
              font-size: 1vw;
            }
  
            &.text1 {
              grid-row: 2;
              grid-column: 1;
            }
    
            &.text2 {
              grid-row: 3;
              grid-column: 1;
            }
  
            &.text3 {
              grid-row: 7;
              grid-column: 1;
  
              h3 {
                text-align: left;
              }

              ul {
                font-size: 2vw;
              }
            }
  
            &.text4 {
              grid-row: 9;
              grid-column: 1;
  
              h3 {
                text-align: left;
              }

              ul {
                font-size: 2vw;
              }
            }
          }
  
          .images {
            width: 80%;
            grid-row: 5;
            grid-column: 1;
  
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
  
            img {
              margin: 1vw 2vw;
              max-width: 15vw;
              max-height: none;
            }
          }
        }
  
        &#téléchargement {
          padding-bottom: 5vw;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          article {
            h3 {
              font-size: 3vw;
              text-align: center;
            }
  
            ul {
              font-size: 2vw;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      height: 45vw;
      padding: 1vw 0;
  
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .name-container {
        border-radius: 1vw;
        height: 10vw;
        width: 80vw;
  
        h2 {
          font-size: 8vw;
        }
      }
  
      .contact-container {
        max-width: 81.6vw;

        .contact {
          font-size: 2vw;
          border-radius: 1vw;
          padding: 1vw
        }
      }
    }
  }
}
